* {
  padding: 0;
  margin: 0;
font-family: "Quicksand", sans-serif;
}

h1, h3 {
  font-weight: 400;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.ceint {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  border-bottom: 1px solid rgba(184, 184, 184, 0.3);
  width: 85%;

}

.nav-bar {
  height: 200px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar p {
  color: rgb(184, 184, 184);
  font-size: 0.8em;
}

.container h1 {
  color: white;
  font-size: 5em;
}

.container h3 {
color: white;
font-size: 2em;
}

.BIO {
  width: 85%;
  height: 300px;
display: flex;
justify-content: space-between;
align-items: flex-end;

}

.titre {
  width: 100%;
  color: rgb(184, 184, 184);
height: 600px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.titre h3 {
  padding-top: 20%;
}

.centerr {
  display: flex;
  justify-content: center;
  height: 500px;

}

.about {
  display: flex;
width: 85%;
border-bottom: 1px solid rgb(102, 100, 100);

}

.about h2 {
  padding-top: 30px;
  padding-bottom: 30px;
color: white;
font-size: 1.1em;
}

.lefti {
display: flex;
flex-direction: column;
width: 30%;
color: rgb(196, 196, 196) ;
padding-right: 5%
}

.lefti p {
  line-height : 1.5;
}

.midi {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: rgb(196, 196, 196) ;
  padding-right: 5%

}

.midi img {
  height: 350px;
}

.righti {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: rgb(196, 196, 196) ;

}

.righti a {
  text-decoration: none;
  color: rgb(196, 196, 196) ;
padding-bottom: 8px;
}

.righti p {
  padding-bottom: 30px;
}

.cinter {
  display: flex;
  flex-direction: column;
align-items: center;
 height: 200px;
}

.cinter p {
  color: white;
  padding-top: 30%;
}

.icone {
  width: 35%;
  display: flex;
  justify-content: space-around;
  padding-top: 15%;

}

.icone i {
  font-size: 1.3em;
  color: white;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contaner {
  height: 2000px;
  border-bottom: 1px solid rgb(102, 100, 100);

}

.contaner p {
  width: 57%;
  line-height: 1.5;
  color: rgb(205, 205, 205);
  font-size: 1.1em;

}

.img img {
  padding: 50px;
  width: 57%;
}
